body{
    background-image: url(http://idolza.com/a/f/b/blue-and-black-wallpapers-wallpapersafari-wallpaper-1920x1080-by-phantomghost1525-on-deviantart_black-on-black-wallpaper_metal-four-poster-bed-home-office-decorating-ideas-for-m.jpg);
    text-align: center
}

div.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333333;
    box-shadow: 5px 5px #7a7a7a;
}

div.header li {
    float: left;
}

div.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
div.header li a:hover {
    background-color: #111;
}



div.image{
    text-align: center;
    margin-top: 50px;
    display: inline-block;
    margin-right: 200px;
}

div.header img{
    width:20%;
    float:right;
}

div.About{
    display: inline-block;
    margin-right:40px;
    color:black;
}
div.Aboutme{
    border: 20px solid transparent;
    text-align: center;
    width:100%;

}

div.image img{
    width:300%;
    height: auto;
    border-radius:100px;
}

div.projects{
    text-align: center;
    
}
div.projects h1{
    color: #f8f2ee;
}

div.projects img{
    width: 30%;
}

#icons{
position: relative;
}

div.two{
width: 30%;
display: inline-block;
padding: 40px;
margin-right: 50px;
text-align: center;
color:#f8f2ee;  
}


div.three{
width: 30%;
display: inline-block;
padding: 40px;
margin-right: 50px;
text-align: center;
color:#f8f2ee;
} 

div.two img{
    width:90%;
    height: auto;
    border-radius: 30px;
}

div.three img{
    width:90%;
    height: auto;
    border-radius: 30px;
    margin-top: 75px;
}

div.InfoMe{
    color:#f8f2ee;
}

div.jumbotron{
    background:transparent;
}

#Infos{
    color:#f8f2ee;
    border: 10px solid white;
    border-color: transparent;
    background-color:transparent;
}
#Infos img{
    width: 10%;
    height: auto;
    display: inline;
    float: left;
}

#git img{
    margin-right: 300px;
}

#treehouse img{
    margin-right:300px;
    margin-left: 100px;
}